﻿
@{
    ViewBag.Title = "Login";
}

@{
    Layout = null;
}

<script>
    var HrmsHost = '@ViewBag.HrmsHost';
</script>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Internet Dreams</title>
    <link rel="stylesheet" href="/Content/css/screen.css" type="text/css" media="screen" title="default" />
    <!--  jquery core -->
    <script src="/Scripts/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>

    <!-- Custom jquery scripts -->
    <script src="/Scripts/jquery/custom_jquery.js" type="text/javascript"></script>

    <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
    <script src="/Scripts/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(document).pngFix( );
        });
    </script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="~/Scripts/Angular/Controller/Login/hrms.loginController.js"></script>

</head>
<body id="login-bg">

    <!-- Start: login-holder -->
    <div id="login-holder">

        <!-- start logo -->
        <div id="logo-login">
            <a href=""><img src="/Content/images/shared/logo.png" width="156" height="40" alt="" /></a>
        </div>
        <!-- end logo -->

        <div class="clear"></div>

        <!--  start loginbox ................................................................................. -->
        <div id="loginbox">

            <!--  start login-inner -->
            <div id="login-inner">

                <div data-ng-app>
                    <div data-ng-controller="loginController">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>Username</th>
                                <td><input type="text" ng-init="user.name='Admin'" id="name" name="name" ng-model="user.name" disabled="disabled" class="login-inp" /></td>
                                
                            </tr>
                            <tr>
                                <th>Password</th>
                                <td><input type="password" ng-init="user.password='********'" onfocus="this.value=''" id="password" name="password" data-ng-model="user.password" disabled="disabled" class="login-inp" /></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td valign="top"><input type="checkbox" class="checkbox-size" id="login-check" /><label for="login-check">Remember me</label></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td><input type="submit" class="submit-login" id="userLogin" data-ng-click="userLogin()" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
                    <!--  end login-inner -->
                    <div class="clear"></div>
                    <a href="" class="forgot-pwd">Forgot Password?</a>
                </div>
                <!--  end loginbox -->
                <!--  start forgotbox ................................................................................... -->
                <div id="forgotbox">
                    <div id="forgotbox-text">Please send us your email and we'll reset your password.</div>
                    <!--  start forgot-inner -->
                    <div id="forgot-inner">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>Email address:</th>
                                <td><input type="text" value="" class="login-inp" /></td>
                            </tr>
                            <tr>
                                <th> </th>
                                <td><input type="button" class="submit-login" /></td>
                            </tr>
                        </table>
                    </div>
                    <!--  end forgot-inner -->
                    <div class="clear"></div>
                    <a href="" class="back-login">Back to login</a>
                </div>
                <!--  end forgotbox -->

            </div>
    <!-- End: login-holder -->
</body>
</html>
