﻿@{
    ViewBag.Title = "Register";
}

<div id="page-heading"><h1>Account Registration</h1></div>

<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
    <tr>
        <th rowspan="3" class="sized"><img src="/Content/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized"><img src="/Content/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
    </tr>
    <tr>
        <td id="tbl-border-left"></td>
        <td>
            <div id="content-table-inner">

                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                    <tr valign="top">
                        <td>
                            <div data-ng-controller="userController">

                                <div style="color: red">
                                    {{errorMessage}}
                                </div>

                                <div style="color: green">
                                    {{successMessage}}
                                </div>

                                <table class="grid" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <th>
                                            User Name
                                        </th>
                                        <th>
                                            Password
                                        </th>
                                        <th>
                                            Edit/Update
                                        </th>
                                    </tr>

                                    <tr data-ng-repeat="user in users"
                                        ng-class-odd="'item'"
                                        ng-class-even="'item-alternating'">

                                        <td>
                                            <span data-ng-hide="user.editing">{{ user.UserName }}</span>
                                            <span data-ng-show="user.editing"><input style="width: 95%" data-ng-model="user.UserName" /></span>
                                        </td>
                                        <td>
                                            <span data-ng-hide="user.editing">{{ user.Password }}</span>
                                            <span data-ng-show="user.editing"><input style="width: 95%" data-ng-model="user.Password" /></span>
                                        </td>
                                        <td style="vertical-align:middle; ">
                                            <button data-ng-hide="user.editing" data-ng-click="user.editing = true">Edit</button>
                                            <button data-ng-show="user.editing" data-ng-click="updateUser(user)">Update</button>
                                            <button data-ng-show="user.editing" data-ng-click="deleteUser(user)">Delete</button>
                                            <button data-ng-show="user.editing" data-ng-click="cancel()">Cancel</button>
                                        </td>
                                    </tr>

                                    <tr data-ng-show="currentUser.adding">
                                        <td>
                                            <input style="width: 95%" data-ng-model="currentUser.UserName" />
                                        </td>
                                        <td>
                                            <input style="width: 95%" data-ng-model="currentUser.Password" />
                                        </td>

                                        <td style="vertical-align: middle;">
                                            <button data-ng-click="createUser(currentUser)">Save</button>
                                            <button data-ng-click="cancel()">Cancel</button>
                                        </td>
                                    </tr>

                                    <tr data-ng-hide="currentUser.adding">
                                        <th colspan="5" style="vertical-align: middle;">
                                            <button data-ng-hide="currentUser.adding" data-ng-click="currentUser.adding = true">Add a new user</button>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/Content/images/shared/blank.gif" width="695" height="1" alt="blank" /></td>
                        <td></td>
                    </tr>
                </table>
                <div class="clear"></div>

            </div>
        </td>
        <td id="tbl-border-right"></td>
    </tr>
    <tr>
        <th class="sized bottomleft"></th>
        <td id="tbl-border-bottom">&nbsp;</td>
        <th class="sized bottomright"></th>
    </tr>
</table>
