﻿
@{
    ViewBag.Title = "Home";
}

<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
    <tr>
        <th rowspan="3" class="sized"><img src="/Content/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized"><img src="/Content/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
    </tr>
    <tr>
        <td id="tbl-border-left"></td>
        <td>
            <!--  start content-table-inner ...................................................................... START -->
            <div id="content-table-inner">

                <!--  start table-content  -->
                <div id="table-content">
                    <h2>Dearm HRM Solutions</h2>
                    <h3>HRM business processes from recruitment to retirement</h3>

                    Start-up, SME, global enterprises, whichever one you may be, Dearm HRM offers you flexibility and freedom to select from free and paid versions of Dearm HRM backed with specialized expertise.

                    Our HR modules cover many major human capital management extents. Dearm HRM is used by millions of users around the world in all industries. Explore our solutions and contact our consultants to assist you with your selection process.
                    <br />
                    <br />
                    Dearm HRM Professional is a module-based, full-service HR solution for small- to medium- sized businesses operating in a single country. With Dearm HRM Professional, you benefit from a rich array of modules to suit the specific needs of your company and your budget

                    For businesses growing out of Dearm HRM open source, or for companies that need a comprehensive HR platform, Dearm HRM Professional offers superior management and cost efficiencies across the board.
                    <br />
                    <br />
                    As an extendable version of Dearm HRM Professional, Enterprise offers a choice of specialized modules designed to give you seamless, centralized HR governance across your global business concerns.

                    The Enterprise edition is a robust and scalable system with configurable workflows, custom reports, advanced rule-based engines and superb customer support. Pricing of Dearm HRM Enterprise, like Professional, is based on the modules you select and the number of employees served by the system.

                    Deploy Dearm HRM Enterprise when you need a flexible HR environment that saves you time and budget in multi-national settings.
                </div>
                <!--  end table-content  -->

                <div class="clear"></div>

            </div>
            <!--  end content-table-inner ............................................END  -->
        </td>
        <td id="tbl-border-right"></td>
    </tr>
    <tr>
        <th class="sized bottomleft"></th>
        <td id="tbl-border-bottom">&nbsp;</td>
        <th class="sized bottomright"></th>
    </tr>
</table>
