﻿@{
    ViewBag.Title = "Employee List";
}

<div id="page-heading"><h1>Employee List</h1></div>

<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
    <tr>
        <th rowspan="3" class="sized"><img src="/Content/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized"><img src="/Content/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
    </tr>
    <tr>
        <td id="tbl-border-left"></td>
        <td>
            <!--  start content-table-inner -->
            <div id="content-table-inner">

                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                    <tr valign="top">
                        <td>
                            <div ng-controller="employeeController">

                                <div style="color: red">
                                    {{errorMessage}}
                                </div>

                                <div style="color: green">
                                    {{successMessage}}
                                </div>

                                <!-- pass in the variable if our form is valid or invalid -->
                                <form name="employeeForm" ng-submit="submitForm(employeeForm.$valid)" novalidate>

                                    <div class="form-group" ng-class="{ 'has-error' : employeeForm.firstname.$invalid && !employeeForm.firstname.$pristine }">
                                        <label>First Name*</label>
                                        <input type="text" name="firstname" class="form-control" ng-model="employee.FirstName" required>
                                        <p ng-show="employeeForm.firstname.$invalid && !employeeForm.firstname.$pristine" class="help-block">You first name is required!</p>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : employeeForm.lastname.$invalid && !employeeForm.lastname.$pristine }">
                                        <label>Last Name*</label>
                                        <input type="text" name="lastname" class="form-control" ng-model="employee.LastName" required>
                                        <p ng-show="employeeForm.lastname.$invalid && !employeeForm.lastname.$pristine" class="help-block">You last name is required!</p>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : employeeForm.username.$invalid && !employeeForm.username.$pristine }">
                                        <label>User Name</label>
                                        <input type="text" name="username" class="form-control" ng-model="employee.username" ng-minlength="3" ng-maxlength="8">
                                        <p ng-show="employeeForm.username.$error.minlength" class="help-block">Username is too short!</p>
                                        <p ng-show="employeeForm.username.$error.maxlength" class="help-block">Username is too long!</p>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : employeeForm.email.$invalid && !employeeForm.email.$pristine }">
                                        <label>Email</label>
                                        <input type="email" name="email" class="form-control" ng-model="employee.email">
                                        <p ng-show="employeeForm.email.$invalid && !employeeForm.email.$pristine" class="help-block">Enter a valid email!</p>
                                    </div>

                                    <button data-ng-click="createEmployee(employee)" type="submit" class="btn btn-primary">Save</button>
                                    | | | | | | | | | | | | | | | | |
                                    <button data-ng-click="addNewEmployee(employee)" type="submit" class="btn btn-primary">Add New</button>

                                </form>

                                <br />

                                <table class="grid" cellpadding="0" cellspacing="0">
                                    <tr></tr>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Action</th>
                                    </tr>

                                    <tr data-ng-repeat="employee in employees"
                                        ng-class-odd="'item'"
                                        ng-class-even="'item-alternating'">

                                        <td>{{ employee.FirstName }}</td>
                                        <td>{{ employee.LastName }}</td>

                                        <td style="vertical-align:middle; ">
                                            <button data-ng-click="edit(employee.Id)">Edit</button>
                                            <button data-ng-click="delete(employee.Id)">Delete</button>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </td>
                        <td>

                            <!--  start related-activities -->
                            <div id="related-activities">

                                <!--  start related-act-top -->
                                <div id="related-act-top">
                                    <img src="/Content/images/forms/header_related_act.gif" width="271" height="43" alt="" />
                                </div>
                                <!-- end related-act-top -->
                                <!--  start related-act-bottom -->
                                <div id="related-act-bottom">

                                    <!--  start related-act-inner -->
                                    <div id="related-act-inner">

                                        <div class="left"><a href=""><img src="/Content/images/forms/icon_plus.gif" width="21" height="21" alt="" /></a></div>
                                        <div class="right">
                                            <h5>Add another employee</h5>
                                            <ul class="greyarrow">
                                                <li><a href="">Click here to view</a></li>
                                                <li><a href="">Click here to view</a></li>
                                            </ul>
                                        </div>

                                        <div class="clear"></div>
                                        <div class="lines-dotted-short"></div>

                                        <div class="left"><a href=""><img src="/Content/images/forms/icon_minus.gif" width="21" height="21" alt="" /></a></div>
                                        <div class="right">
                                            <h5>Delete employee</h5>
                                            <ul class="greyarrow">
                                                <li><a href="">Click here to view</a></li>
                                                <li><a href="">Click here to view</a></li>
                                            </ul>
                                        </div>

                                        <div class="clear"></div>
                                        <div class="lines-dotted-short"></div>

                                        <div class="left"><a href=""><img src="/Content/images/forms/icon_edit.gif" width="21" height="21" alt="" /></a></div>
                                        <div class="right">
                                            <h5>Edit employee</h5>
                                            <ul class="greyarrow">
                                                <li><a href="">Click here to view</a></li>
                                                <li><a href="">Click here to view</a></li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>

                                    </div>
                                    <!-- end related-act-inner -->
                                    <div class="clear"></div>

                                </div>
                                <!-- end related-act-bottom -->

                            </div>
                            <!-- end related-activities -->

                        </td>
                    </tr>
                    <tr>
                        <td><img src="/Content/images/shared/blank.gif" width="695" height="1" alt="blank" /></td>
                        <td></td>
                    </tr>
                </table>

                <div class="clear"></div>


            </div>
            <!--  end content-table-inner  -->
        </td>
        <td id="tbl-border-right"></td>
    </tr>
    <tr>
        <th class="sized bottomleft"></th>
        <td id="tbl-border-bottom">&nbsp;</td>
        <th class="sized bottomright"></th>
    </tr>
</table>
