﻿
/* GRID
----------------------------------------------------------*/
table.grid 
{
	width: 50%;
	border: 1px solid #CCCCCC;
	padding: 2px;
	margin: 0;
}

table.grid th 
{
	background-color: #5C87B2;
	color: #FFFFFF;
	text-align: left;
}

table.grid tr.item 
{
}
	
table.grid tr.item-alternating
{
	background-color: #EFEFEF;
}
	
table.grid tr.item-edit
{
	background-color: #FFE97F;
}
	
table.grid tr.paging
{
	text-align: center;
}
	
table.grid tr td
{
	padding: 2px;
}
	
table.grid tr td img
{
	border: 0;
}